#Tue, 23 Apr 2013 20:55:36 -0700
app.name=Conference

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=a45884c2-e1bc-4aac-b56a-bd262f5b493d
